html,
body {
  margin: 0;
  border: 0;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Maven Pro', sans-serif;

  width: 960px;
}

::selection {
  background: #111;
  color: #fff;
}

header {
  text-align: center;
}

header h1 {
  font-size: 48px;
  font-weight: bolder;
}

header a {
  color: #000;
}

header a:hover {
  color: #444;
}

.main {
  position: relative;
  padding: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 18px;

  background: #eee;
}

.main h2 {
  font-size: 32px;
  letter-spacing: 32px;
}

.main a {
  position: relative;
  top: 2em;
  padding: 1.5em;
  margin: 5px 10px;
  border: 0;
  border-radius: 18px;

  background: #000;
  color: #e2b96f;
}

.main .arcade-game {
  background: #e8b080;
  color: #000;
}

.main .neighbourhood-map {
  background: #69f0ae;
  color: #000;
}
